body {
  color: #86939e;
  background-color: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
  padding-right: 0 !important;
}
